<div class="app-container">
    {{> sidebar}}
    <!-- Main Content -->
    <main class="main-content">
        <div class="video-grid">
            <!-- Video Card Template -->
            {{#each videos}}
            {{> video-card}}
            {{/each}}
        </div>

        <!-- Pagination -->
        <div class="pagination">
            {{#if (gt currentPage 1)}}
            <a href="?page={{subtract currentPage 1}}" class="page-btn">Previous</a>
            {{else}}
            <span class="page-btn disabled">Previous</span>
            {{/if}}

            {{#each (range 1 totalPages)}}
            <a href="?page={{this}}" class="page-btn {{#if (eq ../currentPage this)}}active{{/if}}">
                {{this}}
            </a>
            {{/each}}

            {{#if (lt currentPage totalPages)}}
            <a href="?page={{add currentPage 1}}" class="page-btn">Next</a>
            {{else}}
            <span class="page-btn disabled">Next</span>
            {{/if}}
        </div>





    </main>
</div>