<article class="video-card">
    <a href="/watch/{{_id}}">
        <div class="thumbnail-container">
            <img src="data/media/{{owner_id}}/{{_id}}.png" alt="{{title}}" class="video-thumbnail">
            <span class="video-duration">{{duration}}</span>
        </div>
        <div class="video-info">
            <div class="channel-avatar">{{channelInitial}}</div>
            <div class="video-details">
                <h3 class="video-title">{{title}}</h3>
                <a href="/channel/{{channelId}}" class="channel-name">{{channelName}}</a>
                <div class="video-meta">
                    <span>{{views}} views</span>
                    <span>{{likes}} likes</span>
                    <span>{{publishedAt}}</span>
                </div>
            </div>
        </div>
    </a>
    <!-- Edit button appears only when showEditButton is true -->
    {{#if showEditButton}}
        <a href="/edit-video/{{_id}}" class="edit-button">Edit</a>
    {{/if}}
</article>
